
header  {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  

}

h1 {
  border: solid black;
  padding: 30px;
  background-color: beige;
  font-size: 50px;
}

body {
  background-color: bisque ;
}

main {
  /* display: block;
  margin: auto; */
  display: block;
  text-align: center;
  margin-top: 40px;
}

a {
text-decoration: none;

}

li {
  margin-top: 100px;
  font-size: 20px;
  border:solid black;
  padding: 30px; 
  background-color: beige ;
}



h2 {

font-size: 30px;
} 

div {
  text-align: center;
}

div > table  {

  padding: 3px; 
  margin-top: 80px;
  margin-left:auto;
  margin-right:auto;  
   margin: 0 auto;
  /* display: block; */
   width: 50%;
   border: solid;
}  

table td {
  border: 2px solid;
  padding: 10px; 
  text-shadow: #fc0 1px 0 10px;
}

th, tr {
  border: 2px solid;
  padding: 10px; 
}


footer {
  margin-top:200px;
}  

fieldset {
 display: flex;
 flex-direction: column;
  margin-top: 100px;
  margin-left: 500px;
  margin-right: 500px;
}

